
/*  ---    News Page CSS    ---  */

.card {
    display: flex;
        /* column-gap: 50px;
        grid-template-columns: auto auto auto;
        background-color: #d6dadd;
        padding: 10px; */
    
    margin-left: 400px;
    margin-bottom: 2em;

    
}

.card-body{
    column-gap: 50px;
        grid-template-columns: auto auto auto;
        background-color: #d6dadd;
        padding: 10px;

        width:40%;

        
        
}
.news-img{
    margin-left: 15em;
    margin-bottom: 20px;
    width: 30%;

}

.news-item{
    color: #0d2aab;
  display: inline-block;
  line-height: 15px;
  text-decoration: none;
  padding: 12px 16px;
  transition: 0.3s;

  font-weight: 700;
  border-radius: 12px;
  transition: 0.4s;
  background-color: rgb(255, 255, 255);
  width: 50%;
  margin-left: 22em;
}
.news-item:hover {
    box-shadow: 3px 3px 6px black;
}
h3{
    text-align: center;
    margin-left: 2px;
    font-family: monospace;
    border: 12px hidden #bfccd0;
    border-radius: 16px;
    width: 100%;
   height: 80px;
}
p {
    width: 100%;
    font-family: monospace;
}